@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="/Bills/GetAllBills/">Get All Bills</a>.</p>
    <p><a href="/Bills/SearchBills/">Search Bills</a>.</p>
    <p><a href="/Bills/GetAllStages/">Get All Stages</a>.</p>
    <p><a href="/Report/Search/">Search Bill Stats</a>.</p>
    <p><a href="/Report/GetBillsAndAmendments/">Get All Stats</a></p>
    <p><a href="/Session/GetAllSessions">Get All Sessions</a></p>

    <p><a href="/Bills/SearchBillAmendment/?sessionId=38">Search Amendments For A Bill</a></p>

    <p><a href="/orderpaper/getanorderpaper/">Get Order Paper Business Items</a></p>

    <h2>Lawmaker API Responses</h2>
    <p><a href="/Lawmaker/Login/">Create Login Session</a></p>
    <p><a href="/Lawmaker/CheckSessionRemaining/">Check Session Remaining</a></p>
    <p><a href="/Lawmaker/ConnectDocspace/">Connect to DocSpace (LEGI_PDR)</a></p>
    <p><a href="/Lawmaker/GetBillListByType/">Get Bill / List of Bills</a></p>

</div>
