
@using (Html.BeginForm("SubmitLoginAndConnect", "Lawmaker", FormMethod.Post))
{
    <label class="labelRow"> username
    <input type="text" name= "username" value="" placeholder="username" />
    </label>
    <label class="labelRow"> password
    <input type="password" name="password" value="" placeholder="password" />
    </label>

    <div class="labelRow"> Environment
        <label> Production
    <input type="radio" value = "production" name="environment" checked="checked" /> </label>
    <label> Staging
        <input type="radio" value = "staging" name="environment" />
    </label>
    </div>

    <label>
        <input type="submit" name="submit" value="submit" />
    </label>
}